@import "reset";
@import "components";



/*global layout*/
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
body {
    background: $contentBlackground;
}
input {
    border-width: 1px;
}
header {
    height: $headerHeight;
}
.content {
    // FIXME:try box-sizing to fix the height;
    height: 100%;
    /*margin-top: $gridSpacing;*/
    word-break: break-all;  
    word-wrap: break-word;  
}


/*global style*/
header {
    background: $headerBackground;
}
.content {
    overflow: hidden;
}


/*header*/
header {
    %header-mod {
        line-height: $headerHeight;
    }
    text-align: center;
    color: $whiteFront;
    .logo {
        display: inline; //hack for ie (useful?)
        display: inline-block;
        &, h1{ line-height: 1;}
    }
    .mod-right {
        @extend %absolute;
        @extend %header-mod;
        right: $gridSpacing;
        top: 0;
    }
    .mod-left {
        @extend %absolute;
        @extend %header-mod;
        left: $gridSpacing;
        top: 0;
    }
}


/*content*/
.content {
    /*layout*/
    .main {
        width: $mainSideWidth;
        border-width: 0px 1px 0px 0px;  // right
        height: 100%;

        float: left;
    }
    .aside {

    }
    /*style*/
    .main {
        margin-left: -1px;  // -1px for border
        border-style: solid;
        border-color: $blackLine;
    }
}

/*box-mod*/
%box {
    padding: $gridSpacing $gridSpacing 0 $gridSpacing;
    overflow: hidden;

    border-style: solid;
    border-color: $blackLine;

    .hd {
        margin-bottom: $gridSpacing;
    }
    .bd {
        overflow:hidden;
    }

    .title {
        line-height: 1;
        overflow:hidden;
    }
    .pubtime {
        font-size: 0.9em;
    }

    &.editable {
        &:hover {
            background: $darkGray;
            opacity: 0.5;
            //TODO add a bg here
        }
    }
    .save-btn {
        float: right;
    }
    .save-btn, 
    .set-btn, 
    .del-btn,
    .url-field {
        @extend .hidden;
    }
}

%box.editing {
    %edit-border {
        margin-top: -1px;
        border: 1px solid $darkGray;
    }
    .editable {
        @extend %edit-border;
    }
    .content {
        border: none;
        margin-top: 0;
    }
    .bd {
        @extend %edit-border;
    }
    .save-btn {
        display: block;
    }
}

/* box-mod:layout */
.big {
    @extend %box;
    border-width: 0;
}

.tiny {
    @extend %box;
    border-width: 0 0 1px 0;  // bottom
    .pic {
        float: left;
        max-width: 40%;
        height: 100%;
        padding-right: $gridSpacing;
        img {
            max-width:100%;
            max-height: 100%;
        }
    }
    .content {
        min-height: 3em;
        max-height: 100px;
    }
}

/* box-mod:style*/
.big {
}


/* pic-mod */
.pic {
    &.no-img {
        img {
            @extend %hidden;
        }
        .del-btn {
            @extend %hidden;
        }
        .url-field {
            display: block;
        }
        .set-btn {
            display: inline;
        }
    }
    &.has-img {
        .set-btn {
            @extend %hidden;
        }
        .url-field {
            @extend %hidden;
        }
        img {
            display: block;
        }
        .del-btn {
            display: inline;
        }
    }
}

