/*-------------------------base */
/*---------------bootstrap*/
/*reset*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

a:hover,
a:active {
  outline: 0; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button,
input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

p {
  margin: 0 0 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px; }

p small {
  font-size: 12px;
  color: #999999; }

.lead {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 30px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 40px;
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility; }

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  color: #999999; }

h6 {
  color: #999999;
  text-transform: uppercase; }

.page-header {
  padding-bottom: 19px;
  margin: 20px 0;
  border-bottom: 1px solid #eeeeee; }

.page-header h1 {
  line-height: 1; }

ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li {
  line-height: 20px; }

ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none; }

dl {
  margin-bottom: 20px; }

dt,
dd {
  line-height: 20px; }

dt {
  font-weight: bold;
  line-height: 19px; }

dd {
  margin-left: 10px; }

.dl-horizontal dt {
  float: left;
  clear: left;
  width: 120px;
  text-align: right; }

.dl-horizontal dd {
  margin-left: 130px; }

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

.muted {
  color: #999999; }

abbr[title] {
  border-bottom: 1px dotted #ddd;
  cursor: help; }

abbr.initialism {
  font-size: 90%;
  text-transform: uppercase; }

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee; }

blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px; }

blockquote small {
  display: block;
  line-height: 20px;
  color: #999999; }

blockquote small:before {
  content: '\2014 \00A0'; }

blockquote.pull-right {
  float: right;
  padding-left: 0;
  padding-right: 15px;
  border-left: 0;
  border-right: 5px solid #eeeeee; }

blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: ""; }

address {
  display: block;
  margin-bottom: 20px;
  line-height: 20px;
  font-style: normal; }

small {
  font-size: 100%; }

cite {
  font-style: normal; }

/*components*/
.clearfix {
  *zoom: 1; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: ""; }

.clearfix:after {
  clear: both; }

.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  /* Make inputs at least the height of their button counterpart */
  /* Makes inputs behave like true block-level elements */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/*model*/
/*@import "code.less";*/
.hidden, .big .save-btn, .tiny .save-btn,
.big .set-btn,
.tiny .set-btn,
.big .del-btn,
.tiny .del-btn,
.big .url-field,
.tiny .url-field, .tiny .pic.no-img img, .tiny.editing .pic.no-img .del-btn, .tiny.editing .pic.has-img .set-btn, .tiny.editing .pic.has-img .url-field {
  display: none; }

header .mod-right, header .mod-left {
  position: absolute;
  top: 0; }

/*length*/
/*color*/
/*global layout*/
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-size: 16px; }

body {
  background: #fffff7; }

input {
  border: 1px solid #dfdfdf;
  vertical-align: center; }

p {
  font-size: 100%; }

.button {
  border-radius: 5px;
  background: none; }

header {
  height: 54px; }

article {
  height: 100%; }

/*global style*/
header {
  background: black; }

article {
  overflow: hidden; }

/*header*/
header {
  text-align: center;
  color: #fffff7; }
  header .mod-right, header .mod-left {
    line-height: 54px; }
  header .logo {
    display: inline;
    display: inline-block; }
    header .logo, header .logo h1 {
      line-height: 1; }
  header .mod-right {
    right: 10px;
    top: 0; }
  header .mod-left {
    left: 10px;
    top: 0; }

/*content*/
article {
  /*layout*/
  /*style*/ }
  article .main {
    width: 45%;
    border-width: 0px 1px 0px 0px;
    height: 100%;
    float: left; }
  article .main {
    margin-left: -1px;
    border-style: solid;
    border-color: #dfdfdf; }

/*box-mod*/
.big, .tiny {
  padding: 10px 10px 0 10px;
  overflow: hidden;
  border-style: solid;
  border-color: #dfdfdf; }
  .big .hd, .tiny .hd {
    margin-bottom: 10px; }
  .big .bd, .tiny .bd {
    overflow: hidden; }
  .big .title, .tiny .title {
    line-height: 1.2em;
    overflow: hidden;
    font-size: 25px; }
  .big .pubtime, .tiny .pubtime {
    font-size: 0.9em; }
  .big .content, .tiny .content {
    overflow: hidden;
    font-size: 20px;
    /*margin-top: $gridSpacing;*/
    word-break: break-all;
    word-wrap: break-word; }
  .editable.big:hover, .editable.tiny:hover {
    background: #dfdfdf;
    opacity: 0.5; }
  .big .editable, .tiny .editable {
    min-height: 1em; }
  .big .save-btn, .tiny .save-btn {
    float: right;
    height: 30px;
    line-height: 30px; }
  .big .author, .tiny .big .author, .big .tiny .author, .big .tiny .author, .tiny .big .author, .tiny .author, .big .url-field, .tiny .big .url-field, .big .tiny .url-field, .big .tiny .url-field, .tiny .big .url-field, .tiny .url-field {
    white-space: nowrap;
    overflow: hidden; }
  .big .author, .tiny .author {
    display: inline-block; }

/* box-mod-edit */
.editing.big .title, .editing.tiny .editing.big .title, .editing.big .editing.tiny .title, .editing.big .editing.tiny .title, .editing.tiny .editing.big .title, .editing.tiny .title, .editing.big .bd, .editing.tiny .editing.big .bd, .editing.big .editing.tiny .bd, .editing.big .editing.tiny .bd, .editing.tiny .editing.big .bd, .editing.tiny .bd {
  margin-top: -1px;
  border: 1px solid #dfdfdf; }
.editing.big .author, .editing.tiny .author {
  min-width: 4em;
  display: inline-block;
  margin-top: -1px;
  border-bottom: 1px solid #dfdfdf; }
.editing.big .save-btn, .editing.tiny .save-btn {
  display: block;
  margin-left: 10px; }
.editing.big .pic, .editing.tiny .pic {
  background: #fff6ed; }

/* big-mod */
.big {
  border-width: 0; }

/* tiny-mod */
.tiny {
  border-width: 0 0 1px 0; }
  .tiny .pic {
    float: left; }
    .tiny .pic.has-img {
      /*max-width: 40%;*/
      max-height: 100%;
      padding-right: 10px; }
    .tiny .pic.b-style {
      float: right; }
    .tiny .pic img {
      max-width: 100%;
      max-height: 100%; }
  .tiny .content {
    min-height: 3em;
    height: 100%; }

.tiny.editing .pic {
  position: relative; }
  .tiny.editing .pic.no-img {
    float: none;
    width: 100%;
    padding: 5px 0; }
    .tiny.editing .pic.no-img .url-field, .tiny.editing .pic.no-img .set-btn {
      margin: 0 5px;
      height: 1.8em;
      line-height: 1.8em;
      font-size: 14px; }
    .tiny.editing .pic.no-img .url-field {
      display: block; }
    .tiny.editing .pic.no-img .set-btn {
      display: block; }
  .tiny.editing .pic.has-img {
    /*margin-bottom: -300px;*/
    /*padding-bottom: 300px;*/
    height: 100%; }
    .tiny.editing .pic.has-img img {
      display: block; }
    .tiny.editing .pic.has-img .del-btn {
      display: inline; }

/* pic-mod */
.pic {
  overflow: hidden; }
  .pic .set-btn {
    float: right; }
  .pic .url-field {
    overflow: hidden;
    background: #fffff7; }

/* save-btn-mod */
.save-btn {
  background: #2e6e9e;
  color: #fffff7;
  border: none; }

/* del-btn-mod */
.del-btn {
  /*layout*/
  position: absolute;
  left: 5px;
  top: 5px;
  height: 16px;
  line-height: 16px;
  width: 16px;
  text-align: center;
  /*style*/
  color: #8f8f8f;
  text-decoration: none;
  background: #dfdfdf;
  border-radius: 8px; }
