/*length*/
$headerHeight: 54px;
$mainSideWidth: 45%;
$gridSpacing: 10px;


/*color*/
$black: #000000;
$gray: #dfdfdf;
$darkGray: #dfdfdf;
$white: #fffff7;

$headerBackground: $black;
$contentBlackground: $white;
$whiteFront: $white;
$blackLine: $gray;
