/*length*/
$headerHeight: 54px;
$mainSideWidth: 45%;
$gridSpacing: 10px;


/*color*/
$black: #000000;
$gray: #dfdfdf;
$darkGray: #8f8f8f;
$white: #fffff7;
$orange: #FFF6ED;
$blue: #2E6E9E;

$headerBackground: $black;
$contentBlackground: $white;
$whiteFront: $white;
$blackLine: $gray;
